/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MIXINS*/

.card {
  width: calc((100% - 30px) / 3);
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
}

.card:hover .card-link {
  opacity: 0.6;
}

.card:hover img {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  display: block;
  transition: 0.5s linear all;
}

.card .card-link {
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: #244063;
  opacity: 0;
  transition: 0.2s linear all;
}

.card .card-link h3 {
  margin: 20px 0;
}

.card .card-link h3 a {
  color: white;
}

.profile {
  padding: 50px 0;
}

.profile h3 {
  text-align: center;
}

.profile img {
  width: 100%;
}

/*COMMON*/

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

/*HEADER*/

header {
  text-align: center;
}

header nav ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
}

header nav ul li:hover {
  background-color: #b6dbe4;
}

header nav ul li.active {
  background-color: #b6dbe4;
}

/*MAIN*/

.fullwidth-container {
  background-image: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
}

.fullwidth-container h2 {
  font-size: 20px;
  color: #244063;
  text-transform: uppercase;
  padding: 20px 0;
}

.fullwidth-container.profile-container {
  background-image: none;
  background-color: #bbdbe6;
}

/*FOOTER*/

footer .container {
  margin-top: 50px;
}

footer .container [class^=footer] {
  float: left;
  width: calc((100% - 240px) / 3);
  margin: 30px;
}

footer .container .footer-left img {
  width: 100%;
  max-width: 207px;
}

footer .ft-bottom {
  background-image: url(/images/footer-montagne-bottom.jpg?1dcd1a6e532195900c88406fef6f8f12);
  height: 150px;
}

/*MEDIA-QUERY*/

@media all and (max-width: 768px) {
  .card {
    width: calc((100% - 25px) / 2);
  }

  footer .container [class^=footer] {
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .card {
    float: none;
    width: 100%;
  }

  [class^=footer] {
    float: none;
    width: 100%;
  }
}

