/*MIXINS*/

.card {
  width: calc(100% / 3);
  float: left;
}

.card img {
  width: 100%;
}

/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COMMON*/

a {
  text-decoration: none;
}

clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  min-width: 1080px;
  margin: auto;
}

/*HEADER*/

header {
  text-align: center;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

/*MAIN*/

/*FOOTER*/

