/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*MIXINS*/

.card {
  width: calc(100% / 3);
  padding: 5px;
  float: left;
  position: relative;
}

.card img {
  width: 100%;
}

.card .card-link {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*COMMON*/

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 80%;
  min-width: 1080px;
  margin: auto;
}

/*HEADER*/

header {
  text-align: center;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
}

/*MAIN*/

/*FOOTER*/

