
footer {
	.container {
		margin-top: 50px;
		[class^="footer"] {
			float: left;
			width: calc((100% - 240px) / 3) ;
			margin: 30px;
		}
		.footer-left {
			img {
				width: 100%;
				max-width: 207px;
			}
		}
	}
	.ft-bottom {
		background-image: url('../../img/footer-montagne-bottom.jpg');
		height: 150px;
	}
}
