
footer {
	.container {
		margin-top: 50px;
		[class^="footer"] {
			float: left;
			width: $card_width;
			margin: $card_margin;
		}
		.footer-left {
			.footer-logo{
				width: 100%;
			}
		}
	}
	.ft-bottom {
		background-image: url('/img/footer-montagne-bottom.jpg');
		height: 150px;
	}
}
