header  {
	text-align: center;
	nav {
		ul {
			list-style: none;
			font-size: $primary_font_size;
			font-weight: bold;
			li {
				display: inline-block;
				padding: 10px;
				&:hover {
					background-color:#b6dbe4;
				}
				&.active {
					background-color:#b6dbe4;
				}
			}
		}
	}
}
